.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw, 22px) ;
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr)); 
    margin: 30px;
    gap: 30px;
    row-gap: 50px;
    transition: 0.3s;
    animation:fadeIn 1s ;
}

.food-item-name-rating img{
    width: 55px;
}

.food-item-desc{
    color: gray;
    font-size: 12px;
}

.food-item-price{
    color: salmon;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

